.about-us-container {
    width: 100%;
    text-align: justify;
  }
  
  .about-us-heading {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .about-us-description {
    font-size: 18px;
    color: white;
    margin-bottom: 30px;
    text-align: center;
  }

  .about-us-content {
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
  }
  .plant_logo_right{
    text-align: right;
  }

  .plant_logo_left{
    text-align: left;
  }